### Emacs
\#*#
\.#*
*~

### Latex
*.fls
*.aux
*.log
*.fdb_*
*.out
*.blg
*.bbl
*Notes.bib
main.tar.gz

### other files produced during compilation
authors.tex
contributions.tex

### cookiecutter files
desc-0000-bigmali-feasibility.pdf
desc-0000-bigmali-feasibility.tar.gz
